# 내장함수

## # find(), count(), upper(), lower(), len()

In [ ]:
str1 = 'Coding Test!!'

print(str1.find('T')) # 특정 문자의 인덱스를 찾아줌
print(str1.count('!'))  # 특정 문자의 반복횟수 찾아줌
print(str1.upper()) # 
print(str1.lower())
print(len(str1))

7
2
CODING TEST!!
coding test!!
13

In [ ]:
# str1 문자를 나누어서 출력
for i in range(len(str1)):
  print(str1[i])

C
o
d
i
n
g

T
e
s
t
!
!

In [ ]:
# str1 문자를 한자 출력하고 빈칸 형식으로 나오도록
for i in range(len(str1)):
  print(str1[i], end=' ')
print()
for i in str1:
  print(i, end=' ')

C o d i n g   T e s t ! !
C o d i n g   T e s t ! !

## isupper(), islower(), isalpha(), ord(), chr()

In [ ]:
# str1에서 대문자만 출력
for i in str1:
  if i.isupper():
    print(i, end=' ')
print()

C T

In [ ]:
# str1에서 소문자만 출력
for i in str1:
  if i.islower():
    print(i, end=' ')
print()

o d i n g e s t

In [ ]:
# str1에서 알파벳만 출력
for i in str1:
  if i.isalpha():
    print(i, end=' ')
print()

C o d i n g T e s t

In [ ]:
# ord(), chr()
# ASCII number출력하라
# A~Z (65~90), a~z (97~122)

str2 = 'AZ'
for i in str2:
  print(f'{i}의 ASCII={ord(i)}')

str3 = 'az'
for i in str3:
  print(f'{i}의 ASCII={ord(i)}')

str4 = [66,77,99]
for i in str4:
  print(f'ASCII number {i}의 문자={chr(i)}')

A의 ASCII=65
Z의 ASCII=90
a의 ASCII=97
z의 ASCII=122
ASCII number 66의 문자=B
ASCII number 77의 문자=M
ASCII number 99의 문자=c

## shuffle(), range(), sum(), max(), min()

In [ ]:
import random as r

In [ ]:
a = list(range(1,11))
print(a)
r.shuffle(a)  # 게임에서 활용. 할때마다 값이 달라진다.
print(a)
a.sort(reverse=True)  # 리스트 정렬 내림차순
print(a)
a.sort()  # 리스트 정렬 오름차순
print(a)
a.clear() # 리스트 삭제 -> 빈 리스트
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 7, 3, 4, 5, 8, 9, 1, 10, 6]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [ ]:
# sum(), max(), min()
a = list(range(1,11))
print(a)
print(sum(a))
print(max(a))
print(min(a))
print(min(21,23,66))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
10
1
21

## all(), any()

In [ ]:
# 모두 조건 만족할 때 참
a = [1,4,60,80]

if all(60>i for i in a):  # 모두 작으면 참
  print('참')
else:
  print('거짓')

# 한번이라도 조건 만족하면 참
if any(60>i for i in a):  # 하나라도 작으면 참
  print('참')
else:
  print('거짓')

거짓
참

# level 1 문제풀이

## 음양 더하기

In [ ]:
# 음양 더하기
# sings = [true, false, true]

absolutes = [4,7,12]
signs = [True, False, True]
result = 0
for i in range(len(absolutes)):
  if signs[i]:
    result += absolutes[i]
  else:
    result -= absolutes[i]
print(result)

9

In [ ]:
def solution(absolutes, signs):
  answer = 0
  for i in range(len(absolutes)):
      if signs[i]:
        answer += absolutes[i]
      else:
        answer -= absolutes[i]
  return answer

print(solution([4,7,12],[True, False, True]))
print(solution([1,2,3],[False, False, True]))

9
0

In [ ]:
def solution(absolutes, signs):
  return sum(absolutes if sign else -absolutes for absolutes, sign in zip(absolutes, signs))

print(solution([4,7,12],[True, False, True]))
print(solution([1,2,3],[False, False, True]))

9
0

In [ ]:
# 없는 숫자 더하기(my)
def solution(numbers):
  answer = 45
  for i in numbers:
    answer -= i
  return answer

print(solution([1, 2, 3, 4, 6, 7, 8, 0]))
print(solution([5,8,4,0,6,7,9]))

def solution(numbers):
  return 45 - sum(numbers)

print(solution([1, 2, 3, 4, 6, 7, 8, 0]))
print(solution([5,8,4,0,6,7,9]))

# 더하기 쓰는 정답
def solution(numbers):
  answer = 0
  for i in range(10):
    if i not in numbers:
      answer += i
  return answer

print(solution([1, 2, 3, 4, 6, 7, 8, 0]))
print(solution([5,8,4,0,6,7,9]))

14
6
14
6
14
6

In [ ]:
# k번째 수
def solution(array, commands):
  answer = []
  for i in commands:
    answer.append(sorted(array[i[0]-1:i[1]])[i[2]-1])
  return answer

print(solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]]))

def solution(array, commands):
  return [sorted(array[i[0]-1:i[1]])[i[2]-1] for i in commands]

print(solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]]))

def solution(array, commands):
  return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

print(solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]]))

[5, 6, 3]
[5, 6, 3]
[5, 6, 3]

In [ ]:
# 팰린드롬
def solution(word):
  lst = list(word)
  if lst == list(reversed(lst)):
    return 1
  else:
    return 0

solution(input())

level

1

In [ ]:
word = str(input())

if word == word[::-1]:
  print(1)
else:
  print(0)

test
0

In [ ]:
word =list(str(input()))

if list(reversed(word)) == word:
    print(1)
else:
    print(0)

level
1

In [ ]:
# 문자열 뒤집기
s = ['h','e','l','l','o']
a = '가'
b = '나'
print(a, b)
a, b = b, a
print(a, b)

가 나
나 가

In [ ]:
# while문 활용 뒤집기
s = ['h','e','l','l','o']
left = 0
right = len(s) - 1
print(left, right)
print(s[left], s[right])

while left < right:
  s[left], s[right] = s[right], s[left]
  left += 1
  right -= 1

print(s)

0 4
h o
['o', 'l', 'l', 'e', 'h']

In [ ]:
# 파이썬답게 

s = ['h', 'e', 'l', 'ㅣ','o']
print(s)
s.reverse()
print(s)

s = ['h', 'e', 'l', 'ㅣ','o']
print(s)
s=s[::-1]
print(s)

['h', 'e', 'l', 'ㅣ', 'o']
['o', 'ㅣ', 'l', 'e', 'h']
['h', 'e', 'l', 'ㅣ', 'o']
['o', 'ㅣ', 'l', 'e', 'h']

In [ ]:
# 클래스 사용
# 변수초기값 선언
s = ['h', 'e', 'l', 'ㅣ','o']

# 클래스 선언 - 함수를 포함
class Solution:
    def reverseString(self, s) :
        left, right = 0, len(s)-1
        while left < right:
            s[left], s[right] = s[right], s[left]
            left += 1
            right -= 1
        print(s)

# 객체 생성
sol = Solution()
sol.reverseString(s)

['o', 'ㅣ', 'l', 'e', 'h']

In [ ]:
# 파이썬답게
# 변수초기값 선언
s = ['h', 'e', 'l', 'ㅣ','o']

# 클래스 선언 - 함수를 포함
class Solution:
    def reverseString(self, s) :
        s.reverse()
        print(s)

# 객체 생성
sol = Solution()
sol.reverseString(s)

['o', 'ㅣ', 'l', 'e', 'h']

In [ ]:
# 리스트 원소 갯수를 리스트로 받기
data = [[1,1,1],
        [2,3],
        [1]]
output = []

for i in range(len(data)):
  output.append(len(data[i]))

print(output)

[3, 2, 1]

In [ ]:
# 파이썬 내장함수 활용 코드
data = [[1,1,1],
        [2,3],
        [1]]
output = list(map(len, data))

print(output)

# map(변환함수, 순회가능한 데이터형)
# list(map(함수, 리스트))
# tuple(map(함수, 튜플))

[3, 2, 1]

In [ ]:
# 몫과 나머지
a, b = map(int, input().strip().split(' ')) # 문자열 앞뒤 공백 제거
print(f'{a//b} {a%b}')

17 5
3 2

In [ ]:
# 파이썬답게
a, b = map(int, input().strip().split(' ')) # 문자열 앞뒤 공백 제거
print(*divmod(a,b))

17 5
3 2

In [ ]:
## 문자열 처리
string = '        코딩테스트     '
print(string.rstrip(), 0)
print(string.lstrip(), 0)
print(string.strip(), 0)

string2 = '----코딩테스트------'
print(string2.rstrip('-'))
print(string2.lstrip('-'))
print(string2.strip('-'))

        코딩테스트 0
코딩테스트      0
코딩테스트 0
----코딩테스트
코딩테스트------
코딩테스트

In [ ]:
# 진법 변환
# n진법으로 표기된 string을 10진법으로 변환하기
# int(x, base = 10)

num, base = map(int, input().strip().split(' '))
print(int(str(num), base))  # num이 base진법일때 10진법으로

101 2
5

In [ ]:
# 10진수 -> 2진수, 8진수, 16진수
# bin(), oct(), hex()
num = int(input())
print(bin(num))
print(oct(num))
print(hex(num))

15
0b1111
0o17
0xf

In [ ]:
# 10진수 -> n진수
num, base = map(int, input().strip().split(' '))
n_base=''
while num > 0:
  num, mod = divmod(num, base)
  n_base += str(mod)

print(n_base[::-1])

16 2
10000

In [ ]:
# 문자열 정렬하기
s, n = input().strip().split(' ')
n = int(n)
print(s.ljust(n))
print(s.center(n))
print(s.rjust(n))

abc 7
abc
  abc
    abc

In [ ]:
# 2차원 리스트 뒤집기
# 패킹과 언패킹
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)
print(*a)

# zip(*iterable) : 동일한 개수로 이루어진 자료형을 묶어줌
name = ['영희', '철수', '길동']
subject = ['코딩테스트', '토익', '한국사']

print(list(zip(name, subject)))

# 전치행렬(행과 열을 뒤집는것)
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
# 리스트(묶어주고(언패킹))

print(list(zip(*a)))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3] [4, 5, 6] [7, 8, 9]
[('영희', '코딩테스트'), ('철수', '토익'), ('길동', '한국사')]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [ ]:
# for문 활용
mylist = [[1,2,3],
          [4,5,6],
          [7,8,9]]
new_list = [[],[],[]]

for i in range(len(mylist)):
  for j in range(len(mylist[i])):
    new_list[i].append(mylist[j][i])
print(mylist)
print(new_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# 파이썬답게 전치
mylist = [[1,2,3],
          [4,5,6],
          [7,8,9]]
new_list = list(map(list, zip(*mylist)))
print(mylist)
print(new_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# 포켓몬
def solution(nums):
  return min(len(set(nums)), len(nums)//2)

print(solution([3,1,2,3]))

def solution(nums):
  lenG = len(nums)
  lenN = len(set(nums))
  if lenN >= lenG//2:
    return lenG//2
  else:
    return lenN

print(solution([3,1,2,3]))

2
2