#파이썬 기초 문법

# 기본 자료형
* 숫자 : 정수(int), 실수(float)
* 문자열(str)

In [ ]:
print('Hello')

Hello

In [ ]:
print(34,type(34))
print(34.1, type(34.1))

34 <class 'int'>
34.1 <class 'float'>

In [ ]:
a = 34
b = 3.4
print(a, type(a))
print(b, type(b))

34 <class 'int'>
3.4 <class 'float'>

In [ ]:
a = 'hello' # '', "" 문자열 앞뒤에 표기
print(a, type(a))

hello <class 'str'>

In [ ]:
a = 10
print(a, type(a))

10 <class 'int'>

In [ ]:
str(a)
print(a, type(a))

10 <class 'int'>

In [ ]:
a = '''hello 
          python'''
print(a, '\n', type(a))

hello
          python
 <class 'str'>

In [ ]:
print(a, type(a))

hello
          python <class 'str'>

In [ ]:
# 데이터 형 변환
a = '03'
print(a, type(a))

03 <class 'str'>

In [ ]:
a = int(a)
print(a, type(a))

3 <class 'int'>

In [ ]:
a = float(a)
print(a, type(a))

3.0 <class 'float'>

## 지수표현 방식
임의의 큰 수 표현(최단 경로 알고리즘)  
무한으로 활용하기 위해 사용  
예) 1,000,000,000 -> 10^9 -> 1e9

In [ ]:
inf = 1e9
print(inf)

1000000000.0

In [ ]:
a = 10 ** 9
print(a)

1000000000

In [ ]:
b = 1e9 #지수표현방식 : 실수형 float
a = 10 ** 9 #거듭제곱 : int
print(b, type(b))
print(a, type(a))

1000000000.0 <class 'float'>
1000000000 <class 'int'>

In [ ]:
a = 7525e-1
print(a)

752.5

In [ ]:
b = 3954e-3
print(b, type(b))

3.954 <class 'float'>

## 여러 개의 변수에 할당 & 값 교환

In [ ]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [ ]:
a = b = c = 0
print(a,b,c)

0 0 0

In [ ]:
# 값 교환
a, b = 10, 20
print('값 교환 전 : ', a, b)
a, b = b, a
print('값 교환 후 : ', a, b)

값 교환 전 :  10 20
값 교환 후 :  20 10

## 연산자
사칙연산 : +, -, *, /  
몫 : //  
나머지 : %  
거듭제곱 : ** 또는 ^

In [ ]:
a = 10
b = 3
print('a = ', a, ', b = ', b)
print('-' * 30)
print('더하기 : ', a+b)
print('빼기 : ', a-b)
print('곱하기 : ', a*b)
print('나누기 : ', a/b)
print('몫 : ', a//b)
print('나머지 : ', a%b)
print('거듭제곱 : ', a**b)
print('-' * 30)

a =  10 , b =  3
------------------------------
더하기 :  13
빼기 :  7
곱하기 :  30
나누기 :  3.3333333333333335
몫 :  3
나머지 :  1
거듭제곱 :  1000
------------------------------

In [ ]:
a = 5
b = 4
print('a = ', a, ', b = ', b)
print('나누기 : ', a/b)
print('나누기(int) : ', int(a/b)) # int() 소수점 아래 버림
print('나누기(round) : ', round(a/b)) # round() 반올림
print('나누기(round) : ', round(a/b, 1)) # round() 둘째자리에서 반올림->무조건 아님

a =  5 , b =  4
나누기 :  1.25
나누기(int) :  1
나누기(round) :  1
나누기(round) :  1.2

In [ ]:
# 5일때 짝수에 가깝게.
num1 = 1.5
num2 = 2.5
print(round(num1))  # -> 반올림
print(round(num2))  # -> 버림
num1 = 1.115
num2 = 1.225
print(round(num1, 2))  # -> 버림
print(round(num2, 2))  # -> 반올림
num1 = 1.1115
num2 = 1.2215
print(round(num1, 3))  # -> 버림
print(round(num2, 3))  # -> 반올림

2
2
1.11
1.23
1.111
1.222

In [ ]:
import math
print(math.ceil(1.2)) # 올림
# 내장 수학함수 max, min, abs, round
print(max(2,3,5))  # 큰값
print(abs(-3))
print(abs(-345))

2
5
3
345

## 입출력 함수
- 출력 : print()
- 입력 : input()

In [ ]:
# 한 줄에 하나씩 입력 받기
a = input()
b = input()
print(a, b)

123
123
123 123

In [ ]:
# 숫자로 입력 받기
a = int(input('정수1을 입력해 주세요 : '))
b = int(input('정수2를 입력해 주세요 : '))
# f string방식. 3버전 이상 가능
print(f"a = {a}, b = {b}, a+b = {a+b}")
print(f"{a} + {b} = {a + b}")

# ValueError

정수1을 입력해 주세요 : 123
정수2를 입력해 주세요 : 123
a = 123, b = 123, a+b = 246
123 + 123 = 246

## 입력 값을 여러 개 받기(문자열 split메서드 이용)

In [ ]:
strDate = input('날짜 입력 형식 : yyyy.mm.dd >> ')
y, m, d = strDate.split('.')

print(f"strDate={strDate}")
print(f"y = {y}, m = {m}, d = {d}")

날짜 입력 형식 : yyyy.mm.dd >> 1234.12.12
strDate=1234.12.12
y = 1234, m = 12, d = 12

In [ ]:
# map(함수, 컬랙션 자료형)을 사용하여 입력받은 값을 정수로 변환하기
a, b, c = map(int, input("a b c 값 입력 >> ").split(' '))
print(a, b, c)
print(type(a), type(b), type(c))

a b c 값 입력 >> 1 2 3
1 2 3
<class 'int'> <class 'int'> <class 'int'>

## 문자열 연산 및 인덱싱과 슬라이싱

In [ ]:
# 문자열 더하기
a = 'apple'
b = 'banana'
print("문자열 더하기 a + ' ' + b :", a + ' ' + b)
print("문자열 더하기 a + \" \"+b :", a + ' ' + b) # \ : 이스케이프 문자(제어문자)

문자열 더하기 a + ' ' + b : apple banana
문자열 더하기 a + " "+b : apple banana

In [ ]:
# 문자열 곱하기
print('★' * 20)
print('문자열' * 3)
print(a * 3)

★★★★★★★★★★★★★★★★★★★★
문자열문자열문자열
appleappleapple

In [ ]:
a = 'hello world'
print(f"a={a}, a 문자열의 길이 : {len(a)}")

a=hello world, a 문자열의 길이 : 11

In [ ]:
# 첫번째 문자 추출(위치->인덱싱->슬라이싱)
print(a[0]) # 예외) 통계처리 대표적인 프로그램 R에서는 첫번째가 1이다.

h

In [ ]:
# 마지막 문자 추출
print(a[len(a)-1])
print(a[-1])

d
d

In [ ]:
# 슬라이싱
# hello world -> hello만
print(a[0:5]) # [시작:끝-1] 즉 0~4까지
print(a[:5])  # 0은 생략가능
print(a[6:]) # 뒤를 생략하면 끝까지
print(a[-5:])

hello
hello
world
world

# 데이터구조
데이터형(데이터구조)

# 리스트

In [ ]:
# 리스트 생성 []
lst1 = []
lst2 = [1, 2, 3]
lst3 = ['my', 'name', 'is', 'abc']
lst4 = [2, 'nickname', ['is', 'abc']]
lst5 = [6, lst4, 2.0]
print(lst1)
print(lst2)
print(lst3)
print(lst4)
print(lst5)

[]
[1, 2, 3]
['my', 'name', 'is', 'abc']
[2, 'nickname', ['is', 'abc']]
[6, [2, 'nickname', ['is', 'abc']], 2.0]

In [ ]:
# 리스트 인덱싱 : 문자열 인덱싱 동일
print(lst2[0])
print(lst4[2])
print(lst4[2][0])

1
['is', 'abc']
is

In [ ]:
# 리스트 슬라이싱 [start:end(-1):step]
lst6 = list('hello')
print(lst6[0:3])
print(lst5[1:3])
print(lst6[-1])

['h', 'e', 'l']
[[2, 'nickname', ['is', 'abc']], 2.0]
o

In [ ]:
lst7 = list('abcdefghijklmn')
print(lst7)
print(lst7[::2])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
['a', 'c', 'e', 'g', 'i', 'k', 'm']

In [ ]:
# 리스트 연산
lstColor = ['red', 'green', 'blue']
lstFruit = ['orange', 'mango', 'apple']
print(lstColor + lstFruit)
print(lstColor * 2)
print(len(lstColor))

['red', 'green', 'blue', 'orange', 'mango', 'apple']
['red', 'green', 'blue', 'red', 'green', 'blue']
3

## 리스트 수정 및 삭제

In [ ]:
# 리스트 수정 : 인덱싱을 이용해서 데이터 수정
print('원본 :', lstColor)
lstColor[0] = 'pink'
print('수정 :', lstColor)

원본 : ['red', 'green', 'blue']
수정 : ['pink', 'green', 'blue']

In [ ]:
# 리스트 삭제(del)
print('원본 :', lstColor)
del lstColor[1]
print('수정 :', lstColor)

원본 : ['pink', 'green', 'blue']
수정 : ['pink', 'blue']

In [ ]:
# 리스트 삭제(스택 데이터 구조 방식 삭제  .pop(위치))
print('원본 :', lstColor)
print(lstColor.pop(1))
print('수정 :', lstColor)

원본 : ['pink', 'blue']
blue
수정 : ['pink']

In [ ]:
print('원본 :', lstColor)
print(lstColor.pop()) # 마지막 데이터 삭제
print('수정 :', lstColor)

원본 : ['pink']
pink
수정 : []

## 리스트 추가

In [ ]:
# 리스트 추가(마지막에 통째로 추가)
a = [10, 20, 30]
b = [40, 50]
a.append(b)
print(a)

[10, 20, 30, [40, 50]]

In [ ]:
# 리스트 안의 리스트 요소
print(a[3][0])
print(a[-1][0])

40
40

In [ ]:
a.append(100)
print(a)

[10, 20, 30, [40, 50], 100]

In [ ]:
# 리스트 추가(마지막에 낱개로 추가)
a = [10,20,30]
b = [40,50]
a.extend(b)
print(a)

[10, 20, 30, 40, 50]

In [ ]:
# 리스트에 문자열 추가
a.extend('고양이')
print(a)

[10, 20, 30, 40, 50, '고', '양', '이']

## 리스트 정렬

In [ ]:
x = [42,3,68,1,27]
print(x)
x.sort()
print(x)
x.reverse()
print(x)

[42, 3, 68, 1, 27]
[1, 3, 27, 42, 68]
[68, 42, 27, 3, 1]

In [ ]:
x.sort(reverse=True)
print(x)

[68, 42, 27, 3, 1]

In [ ]:
# 특정요소의 위치 반환
x = [42, 3, 68, 1, 27]
print(x)
idx = x.index(27)
print('27의 실제 위치 :', idx)

[42, 3, 68, 1, 27]
27의 실제 위치 : 4

In [ ]:
# 특정 위치에 값을 추가 .insert() <-> .append()
print('원본 :', x)
x.insert(idx, 30) # idx = 4이다.
print(x)

원본 : [42, 3, 68, 1, 27]
[42, 3, 68, 1, 30, 27]

In [ ]:
x.append(30)
print(x)

[42, 3, 68, 1, 30, 27, 30]

In [ ]:
# 갯수
# .count(x) x의 원소 갯수 반환
print(x)
print(x.count(30))

[42, 3, 68, 1, 30, 27, 30]
2

# 딕셔너리
{k:v}->1:1대응

In [ ]:
myInfo = {'name':'홍길동', 'likeNum':2, 'height':185}
print(myInfo, type(myInfo))

{'name': '홍길동', 'likeNum': 2, 'height': 185} <class 'dict'>

In [ ]:
a = {}
print(a, type(a))

{} <class 'dict'>

In [ ]:
# 딕셔너리 검색 키로 찾기
myInfo['name']

'홍길동'

In [ ]:
# 딕셔너리 수정 키로 변경
myInfo['name'] = '홍길재'
print(myInfo)

{'name': '홍길재', 'likeNum': 2, 'height': 185}

In [ ]:
# 추가 및 수정 : 키와 값이 있을 때는 수정, 없을 때는 추가
myInfo['hobby'] = '벽타기'
print(myInfo)

{'name': '홍길재', 'likeNum': 2, 'height': 185, 'hobby': '벽타기'}

In [ ]:
myInfo['hobby'] = '담넘기'
print(myInfo)

{'name': '홍길재', 'likeNum': 2, 'height': 185, 'hobby': '담넘기'}

In [ ]:
# 삭제
print('원본 :', myInfo)
del myInfo['height']
print('변경 :', myInfo)

원본 : {'name': '홍길재', 'likeNum': 2, 'height': 185, 'hobby': '담넘기'}
변경 : {'name': '홍길재', 'likeNum': 2, 'hobby': '담넘기'}

In [ ]:
myInfo['height'] = '165'  # 마지막에 추가된다.
print(myInfo)

{'name': '홍길재', 'likeNum': 2, 'hobby': '담넘기', 'height': '165'}

In [ ]:
print(myInfo)
myInfo.pop('height')

{'name': '홍길재', 'likeNum': 2, 'hobby': '담넘기', 'height': '165'}

'165'

In [ ]:
print(myInfo)

{'name': '홍길재', 'likeNum': 2, 'hobby': '담넘기'}

In [ ]:
# 데이터 가져오기 get
print(myInfo.get('height')) # 없으면 None
print(myInfo.get('height', 'no key')) # 반환값을 적어주면 그거 출력
print(myInfo.get('hobby'))

None
no key
담넘기

In [ ]:
myInfo = {'name':'홍길동', 'likeNum':2, 'height':185}
# 메서드 : 특정 함수가 가진 별도의 함수
print(myInfo.keys())
print(myInfo.values())
print(myInfo.items())

dict_keys(['name', 'likeNum', 'height'])
dict_values(['홍길동', 2, 185])
dict_items([('name', '홍길동'), ('likeNum', 2), ('height', 185)])

In [ ]:
# 리스트 타입 변환
# int(), float(), str(), list(), dict(), tuple() 강제형변환 -> 파이썬 데이터타입 가변형으로 사용
lstkeys = list(myInfo.keys())
print(lstkeys, type(lstkeys))
# 특정 키가 있는지 확인
print('names' in myInfo.keys())
print('height' in myInfo)

['name', 'likeNum', 'height'] <class 'list'>
False
True

# 튜플
() 리스트와 유사, 읽기전용 -> 수정 불가

In [ ]:
t1 = (1,2,3)  # 튜플
t2 = 1,2,3  # 튜플
t3 = (1)  # int -> 괄호로 주어져도 원소 하나면 튜플아님
t4 = (1,) # ,있으면 튜플
print(t1, type(t1))
print(t2, type(t2))
print(t3, type(t3))
print(t4, type(t4))

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
1 <class 'int'>
(1,) <class 'tuple'>

In [ ]:
t1 = (1,2,3)
n1 = 1   
t2 = 1,2,3
t3 = (10)       # 괄호로 주어져도 원소가 1개이면 int로 저장
t4 = (10,)      # 1개 튜플로 저장 끝에 콤마(,) 표시
print(t1, type(t1))
print(n1, type(n1))
print(t2, type(t2))
print(t3, type(t3))
print(t4, type(t4))

print(t1[0])
print(t1[-1])
# t1[0] = 100 TypeError  튜플은 수정불가
print(t1)

(1, 2, 3) <class 'tuple'>
1 <class 'int'>
(1, 2, 3) <class 'tuple'>
10 <class 'int'>
(10,) <class 'tuple'>
1
3
(1, 2, 3)

# 내장함수 enumerate()

In [ ]:
a = [45,12,34]

for i in a:
  print(i)

for i in enumerate(a):  # 인덱스와 값이 튜플의 형태로 나온다.
  print(i)

for i in enumerate(a):
  print(i[0], i[1])

45
12
34
(0, 45)
(1, 12)
(2, 34)
0 45
1 12
2 34

# 집합 {데이터1, 데이터2,}
- 순서가 없어서 인덱스 x
- 자료 중복 허용x(리스트 중복 허용)
- 결과 순서 예측 불가능

In [ ]:
lst1 = [3,3,4,5,6]
print(lst1)

[3, 3, 4, 5, 6]

In [ ]:
print(set(lst1))

{3, 4, 5, 6}

In [ ]:
print(list(set(lst1)))

[3, 4, 5, 6]

In [ ]:
# 집합 연산
st1 = {1,3,5,7,1,9}
st2 = {2,2,1,3,6}
st3 = {3,1,8}

print(set(st1))
print(set(st2))
print('교집합 :', st1 & st3)  # 규칙이 없다.
print('합집합 :', st1 | st2)
print('차집합1 :', st1 - st2)
print('차집합2 :', st2 - st1)
print('대칭차집합 -> 합집합 - 교집합 :', st1 ^ st2)
print('union(합집합) :', st1.union(st2))
print('difference(차집합) = ', st1.difference(st2))
print('symmetric_difference(대칭차집합) = ', st1.symmetric_difference(st2))

{1, 3, 5, 7, 9}
{1, 2, 3, 6}
교집합 : {1, 3}
합집합 : {1, 2, 3, 5, 6, 7, 9}
차집합1 : {9, 5, 7}
차집합2 : {2, 6}
대칭차집합 -> 합집합 - 교집합 : {2, 5, 6, 7, 9}
union(합집합) : {1, 2, 3, 5, 6, 7, 9}
difference(차집합) =  {9, 5, 7}
symmetric_difference(대칭차집합) =  {2, 5, 6, 7, 9}