# 제어문(조건문, 반복문)

# 조건문
경우의 수 1개 : if  
경우의 수 2개 : if 참 ~ else 거짓  
경우의 수 3개 : if 참 ~ elif 참 ~ else 거짓  
경우의 수 3개 이상 : if 참 ~ (elif 참 ... elif 참) ~ else 거짓

In [ ]:
bus = int(input("버스 번호 : ")) # = 할당, 대입연산자, == 조건연산자

if bus == 104:
  print("104번 버스 승차")
else:
  print("104번 아님")

버스 번호 : 104
104번 버스 승차

In [ ]:
money = int(input('버스비가 있나요? ex)있다(1), 없다(0) >> '))

if money == 1:
  print("104번 버스 승차")
else:
  print("승차 불가")

버스비가 있나요? ex)있다(1), 없다(0) >> 0
승차 불가

## 조건문 한줄 표현식

In [ ]:
# 조건문 표현식
# 명령문나오고 if 조건식 else 거짓명령문
money = int(input('버스비가 있나요? ex)있다(1), 없다(0) >> '))
print('버스 승차') if money == 1 else print('도보')

버스비가 있나요? ex)있다(1), 없다(0) >> 0
도보

## 여러조건 비교

In [ ]:
# 여러조건 비교
age = int(input('탑승자의 나이는? >> '))

if age < 8:
  print('버스 요금 : 350')
elif age < 18:
  print('버스 요금 : 800')
else:
  print('버스 요금 : 1250')

탑승자의 나이는? >> 5
버스 요금 : 350

In [ ]:
# 숫자 입력 받아서 3의 배수 판별 프로그램
# 나머지 값을 이용

num1 = int(input('숫자를 입력하세요(0보다 큰 숫자) : '))
if num1%3 == 0:
  print(f"{num1}은/는 3의 배수이다.")
else:
  print(f"{num1}은/는 3의 배수가 아니다.")

숫자를 입력하세요(0보다 큰 숫자) : 128
128은/는 3의 배수가 아니다.

In [ ]:
print(f"{num1}은/는 3의 배수이다.") if num1%3 == 0 else  print(f"{num1}은/는 3의 배수가 아니다.")

128은/는 3의 배수가 아니다.

In [ ]:
# if문과 리스트등(컬렉션자료형, 문자열) 활용
myPocket = [500, '폰', '카드']
if '카드' in myPocket:
  print('라면 사먹자')
else:
  print('내일 보자')

라면 사먹자

In [ ]:
'a' in 'bcdefg'

False

## 예외처리

In [ ]:
# try ~ except 에러가 났을 때의 실행문

try:
  num = int(input('숫자를 입력하세요 >>'))
  print(f"입력된 숫자{num}에 2를 더한 수는 {num+2}이다.")
except:
  print('숫자를 입력하세요')

숫자를 입력하세요 >>ㅣ
숫자를 입력하세요

# 반복문
- 순차 -> for ~ in 컬렉션 자료형:
- 범위 -> for ~ in range(시작 까지 간격):
- 조건 -> while 조건:

## 순차에 대한 반복(for ~ in 컬렉션자료형)

In [ ]:
lstFood = ['라면', '치킨', '피자']
lstNum = list(range(1,11))
print(lstFood, lstNum)
'''
# 컬렉션자료형을 순차반복으로 가져오기
for item in lstFood:
  print(item)
'''
for i in lstFood:
  print(i)

#인덱스를 이용해서 가져오기
for i in range(len(lstFood)):
  print(lstFood[i])

['라면', '치킨', '피자'] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
라면
치킨
피자
라면
치킨
피자

In [ ]:
list(range(len(lstFood)))

[0, 1, 2]

In [ ]:
lstNum = list(range(1,11))
for i in lstNum:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,6,1):
  print(i, end=' ')
print()
for i in range(1,6):
  print(i, end=' ')
print()
for i in range(6):  # range의 처음을 생략하면 0부터 시작
  print(i, end=' ')
print()
for i in range(1,11,2):
  print(i, end='')

1 2 3 4 5
1 2 3 4 5
0 1 2 3 4 5
13579

In [ ]:
# 조건무과 range이용해서 짝수만 출력
for i in range(1,11):
  if i % 2 == 0:
    print(i, end=' ')
print()

for i in range(2,11,2):
  print(i, end=' ')
print()

for i in range(1,11):
  if not i % 2:
    print(i, end=' ')
print()

2 4 6 8 10
2 4 6 8 10
2 4 6 8 10

## 반복문 표현식

In [ ]:
# 참 for 변수외 in 범위 if 조건
print([num for num in range(1,11) if num % 2 == 0])

[2, 4, 6, 8, 10]

In [ ]:
# 1~10 합 구하기
sumNum = 0  # 초기값 확인
for i in range(11):
  sumNum += i
  print(f'{i}더하기{sumNum}')
print(f'1~10까지의 합 : {sumNum}')

0더하기0
1더하기1
2더하기3
3더하기6
4더하기10
5더하기15
6더하기21
7더하기28
8더하기36
9더하기45
10더하기55
1~10까지의 합 : 55

## 조건에 대한 반복(while)

In [ ]:
# while 조건문 : 초기값 필요
# 1부터 10까지 합 구하기

# 1. 1 ~ 10 까지 출력
num = 0
while num < 10:
    num += 1  # num = num + 1
    print(num, end=' ')
print()

num = 1
while num < 11:
    print(num, end=' ')
    num += 1  # num = num + 1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
# 2. 합계변수 이용해서 누적
sumNum = 0
num = 0
while num < 10:
    print(sumNum, end=" ")
    num += 1        # num = num + 1
    sumNum += num   # sumNum = sumNum + num
    print(f"+ {num}  = {sumNum}")

print('-'*25)

print(f"1~10까지의 합은 {sumNum}이다.")

0 + 1  = 1
1 + 2  = 3
3 + 3  = 6
6 + 4  = 10
10 + 5  = 15
15 + 6  = 21
21 + 7  = 28
28 + 8  = 36
36 + 9  = 45
45 + 10  = 55
-------------------------
1~10까지의 합은 55이다.

## 반복문 제어(break, continue)
- break : 빠져나가기
- continue : 건너뛰기

In [ ]:
# 1~ 10 짝수 출력
num = 0
while num < 10:
    num += 1
    if num % 2 !=0:   # 2나누어 떨어지지 않으면 홀수
        continue      # 중간에 주석처리 ==> 드래그하고 ctrl + k, c/ 해제 ctrl + k, u
    print(num, end=" ")

2 4 6 8 10

In [ ]:
# 1부터 10까지 짝수 출력-무한반복
num= 0

while True: # 무한반복
    num += 1
    if num % 2 !=0:  # 2로 나누어서 떨어지지 않으면 (홀수)
        continue # 건너뛰기
    print(num, end= ' ')

    # 반복 멈출 조건
    if num > 9:
        break  # 빠져나가기 (탈출)

2 4 6 8 10

## 중첩반복문

In [ ]:
# 2~4단 구구단(for)
# 1. 곱해지는 단 설정
for i in range(2,5):
  print(f'{i}*j={i}*j')

2*j=2*j
3*j=3*j
4*j=4*j

In [ ]:
# 2. 단에 곱해지는 수 설정
for dan in range(2,5):
  for num in range(1,10):
    print(f'{dan} * {num} = {dan * num}')
  print('=' * 10)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
==========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
==========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
==========

In [ ]:
# 별찍기
for i in range(5):
  for j in range(i+1):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5):
  for j in range(5-i):
    print('*', end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

## 내장함수 zip
zip(컬렉션자료형1, 자료형2, 자료형 3)

In [ ]:
num = [2, 4, 1, 5]
name =['철수','영희','민수','세나']
score = [80, 60, 70, 90]

In [ ]:
for result in zip(num, name, score):
  print(result)

(2, '철수', 80)
(4, '영희', 60)
(1, '민수', 70)
(5, '세나', 90)

In [ ]:
for result in zip(num, name, score):
  result = list(result)
  print(result)

[2, '철수', 80]
[4, '영희', 60]
[1, '민수', 70]
[5, '세나', 90]

In [ ]:
stdInfo = [[2,'철수',80],
           [4,'영희',60],
           [1,'민수',70],
           [5,'세나',90]]
# 언패킹 연산자: unzip -> zip(*컬렉션자료형)
num, name, score = zip(*stdInfo)
print(num)
print(name)
print(score)
print(list(num))
print(list(name))
print(list(score))

(2, 4, 1, 5)
('철수', '영희', '민수', '세나')
(80, 60, 70, 90)
[2, 4, 1, 5]
['철수', '영희', '민수', '세나']
[80, 60, 70, 90]