# 함수

In [ ]:
'''
def 함수명(매개변수=입력변수, 매개변수....):
    명령
    ...
    
    return 출력변수 또는 값
'''

'\ndef 함수명(매개변수=입력변수, 매개변수....):\n    명령\n    ...\n    \n    return 출력변수 또는 값\n'

In [ ]:
# 함수 선언 또는 정의
def adder(a, b):
  return a+b

In [ ]:
# 함수 호출 또는 사용
adder(1234,4321)

5555

In [ ]:
print(adder(12,34))
print(adder(123,234))

46
357

In [ ]:
## 입력값의 형태

In [ ]:
def hi():
  return '안녕'
hi()

'안녕'

In [ ]:
# 출력 값이 없는 경우
def sub(a, b):
    print("%d - %d = %d" % (a, b, a-b))  #형식%변수
sub(10, 7)

10 - 7 = 3

In [ ]:
# 입출력 둘다 없는 경우
def ok():
  print('OK')

ok()

OK

In [ ]:
# 기본 인자 함수
def sum_score(math:int, eng, sci=50,music=20):
    print(f"math={math}, eng={eng}, sci={sci}, music={music}")
    return math+eng+sci+music

# 기본 키워드 인자 함수
def key_sum_score(math, eng, sci, music):
    print(f"math={math}, eng={eng}, sci={sci}, music={music}")
    return math+eng+sci+music

print(sum_score(50,70,80,40))
print(sum_score(50,70,80)) # 기본값이 있는 인자는 생략이 가능
print(sum_score(80, 95))
print(key_sum_score(eng=90, math=50, sci=60, music=100))

math=50, eng=70, sci=80, music=40
240
math=50, eng=70, sci=80, music=20
220
math=80, eng=95, sci=50, music=20
245
math=50, eng=90, sci=60, music=100
300

In [ ]:
## 가변 인자/키워드 인자 함수 형태
# 가변 인자(인자의 갯수가 정해지지 않음)
def sumNums(*nums): # *nums : 튜플
  print(f'sumNums() -> {nums}')
  print(f'sumNums() type -> {type(sumNums)}')
  result = 0
  for num in nums:
    result += num
  return result

In [ ]:
# 함수 호출
print(f'합계 : {sumNums(1,3,5,6,10)}')
print(f'합계 : {sumNums(3,5)}')

sumNums() -> (1, 3, 5, 6, 10)
sumNums() type -> <class 'function'>
합계 : 25
sumNums() -> (3, 5)
sumNums() type -> <class 'function'>
합계 : 8

In [ ]:
# 가변 키워드 인자
def key_sum_score2(**score):  # **score : 딕셔너리
  print(f'score -> {score}')
  print(f'score type -> {type(score)}')
  sumScore = 0
  for sub, jumsu in score.items():  # dict.items() -> (k, v)
    sumScore += jumsu
  return sumScore, tuple(score.keys())

suJumsu, sub = key_sum_score2(eng=80, math=50, sci=90)
print(suJumsu, sub)

score -> {'eng': 80, 'math': 50, 'sci': 90}
score type -> <class 'dict'>
220 ('eng', 'math', 'sci')

## 내장함수 print() - 옵션(sep, end)

In [ ]:
y, m, d, day = '2023','01','03','화'
print(y, m, d)
print(day)
print(y, m, d, sep='/', end='\t')
print(day)
print(y,m,d,end='\t', sep=',')
print(day)
#print(y,m,end='\t', sep='/', d)  #기본인자 다음에 키워드 인자가 올 수 있다.

2023 01 03
화
2023/01/03	화
2023,01,03	화

In [ ]:
def price(**kwargs):
  print(kwargs)
  for k,v in kwargs.items():
    print(f'{k}의 가격은 {v}원 입니다.')

price(cola=1000, hotdog=3000, coffee=1500)

{'cola': 1000, 'hotdog': 3000, 'coffee': 1500}
cola의 가격은 1000원 입니다.
hotdog의 가격은 3000원 입니다.
coffee의 가격은 1500원 입니다.

# 지역변수와 전역변수

In [ ]:
a = 1

In [ ]:
def check(args):
  a = args  #지역변수
  b = 2
  print('check() -> a=',a)

In [ ]:
print('함수호출 전 : a=', a)
check(3)
print('함수호출 후 : a=', a)  # 지역변수로 외부의 전역변수 접근 불가
#print(b)  # 지역변수는 외부에서도 사용불가

함수호출 전 : a= 1
check() -> a= 3
함수호출 후 : a= 1

In [ ]:
a = 1 # 전역변수
def check(args):
  global a, b #전역변수 선언
  a = a + 10
  b = 2
  print('check() -> a=',a)

print('함수호출 전 : a=', a)
check(3)
print('함수호출 후 : a=', a)
print(b)  # 전역변수는 외부에서도 사용가능

함수호출 전 : a= 1
check() -> a= 11
함수호출 후 : a= 11
2

## 람다함수(익명함수)

In [ ]:
# 람다 표현식
# (lambda 매개변수 : 결과 = 반환값)(호출인자)
(lambda x, y : x + y)(12,34)

46

In [ ]:
def plus_one(x):
  return x + 1
print(plus_one(23))

24

In [ ]:
# 람다표현식
# (lambda 매개변수 : 결과 = 반환값)(호출인자)
plus1 = (lambda x : x + 1)(23)
print(plus1)

24

In [ ]:
# x : x + 2
plus2 = lambda x : x + 2
plus2(35)

37

In [ ]:
# 특정 x값에 더하기 3 람다함수식 만들기
plus3 = lambda x : x + 3
plus3(123)

126

## 람다함수와 map() filter()
- map(함수, 컬렉션 자료형) : 각각의 요소에 해당하는 함수 적용
- filter(함수, 컬렉션 자료형) : 각각의 요소에 해당 함수 적용하여 걸러진 데이터만 출력(참, 거짓을 체크)

In [ ]:
a = [5,2,3,12,15]
list(map(lambda x : x + 1, a))

[6, 3, 4, 13, 16]

In [ ]:
# 1~10 짝수만 구하기
# range(1,11)
# filter 참 거짓

# 홀수
print(list(map(lambda x : x%2, range(1,11))))
# 2로 나누어서 나머지 값만 리스트 출력
print(list(filter(lambda x : x%2, range(1,11))))
# 짝수
print(list(map(lambda x : x%2 == 0, range(1,11))))
# 2로 나누어서 나머지 값만 리스트 출력
print(list(filter(lambda x : x%2 == 0, range(1,11))))
print(list(filter(lambda x : x%2 != 1, range(1,11))))
print(list(filter(lambda x : not x%2, range(1,11))))
print(list(filter(lambda x : ~ x%2, range(1,11))))

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
[1, 3, 5, 7, 9]
[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [ ]:
# filter(람다조건, 리스트)
# 4의 배수만 반환
lstNum = [13,4,20,35,78,100]
print(list(filter(lambda x : x%4 == 0, lstNum)))

[4, 20, 100]

## 람다함수와 sorted(), sort()
- sorted() : 원본유지, 정렬값만 반환
- list.sort() : 원본 직접 수정, 반환값 None

In [ ]:
nums = [5,2,3,1,4]
print(nums)

sortN = nums.sort()
print(nums) # 원본 정렬됨
print(sortN)  # 별도의 변수로 저장되지 않음

[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]
None

In [ ]:
nums = [5,2,3,1,4]
print(nums)

[5, 2, 3, 1, 4]

In [ ]:
sortedN = sorted(nums)
print(nums) # 원본 정렬되지 않음
print(sortedN)  #반환값 있어 변수에 저장이 된다.

[5, 2, 3, 1, 4]
[1, 2, 3, 4, 5]

In [ ]:
nums = [5,2,3,1,4]
# 원본 유지하고 정렬값 구할 때
print(sorted(nums))

# 원본 정렬된걸로 변경
nums.sort()
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# 1. 원본유지하고 정렬값 구할 때
nums = [5, 2, 3, 1, 4]
print(f"원본 = {nums}")
numsSorted = sorted(nums)
print(f"변경 = {numsSorted}")

# 2. 원본변경하고 정렬값 구할 때
nums = [5, 2, 3, 1, 4]
print(f"원본 = {nums}")
nums.sort()
print(f"변경 = {nums}")

원본 = [5, 2, 3, 1, 4]
변경 = [1, 2, 3, 4, 5]
원본 = [5, 2, 3, 1, 4]
변경 = [1, 2, 3, 4, 5]

In [ ]:
# 람다함수와 sorted()
# 문자열 길이 기준으로 정렬
lstStr = ['my', 'name', 'is', 'y']
print(len(lstStr))
print(sorted(lstStr, key=lambda x : len(x)))

4
['y', 'my', 'is', 'name']

In [ ]:
# 리스트의 인덱스로 정렬
menu = [['핫도그', 1800],
        ['컵라면', 1500],
        ['콜라', 1000],
        ['커피', 2000]]

print(sorted(menu, key=lambda x:x[1]))

[['콜라', 1000], ['컵라면', 1500], ['핫도그', 1800], ['커피', 2000]]