In [1]:
import pandas as pd

### Series
1차원 배열 : 리스트, 튜블, 배열, 사전형...

In [2]:
a = ('aaa',1234,'2022-01-05', 12.999)

In [3]:
type(a)

tuple

In [4]:
s = pd.Series(a)

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s

0           aaa
1          1234
2    2022-01-05
3        12.999
dtype: object

In [7]:
s[0]

'aaa'

In [8]:
s[1]

1234

In [9]:
type(s[0])

str

In [11]:
type(s[1]) #넘파이는 같은타입만 가능했지만 판다스는 타입이 달라도 가능

int

In [12]:
a= {'name' : '임꺽정', '중간고사' : 40, '기말고사' : 50, '출석' : 9.5}

In [13]:
type(a)

dict

In [15]:
s = pd.Series(a)

In [16]:
s

name    임꺽정
중간고사     40
기말고사     50
출석      9.5
dtype: object

In [17]:
s['name']

'임꺽정'

In [18]:
s['중간고사']

40

In [19]:
s[0]

'임꺽정'

In [20]:
s[1:3] #슬라이싱 1~2(3앞까지)

중간고사    40
기말고사    50
dtype: object

In [21]:
s['중간고사':'기말고사'] #슬라이싱 '중간고사'~'기말고사'(끝포함)

중간고사    40
기말고사    50
dtype: object

In [30]:
a = ('홍길동', 30,20,8.9)

In [31]:
a

('홍길동', 30, 20, 8.9)

In [32]:
s = pd.Series(a)

In [33]:
s

0    홍길동
1     30
2     20
3    8.9
dtype: object

In [34]:
s = pd.Series(a, index = ['이름','중간', '기말', '출석'])

In [35]:
s

이름    홍길동
중간     30
기말     20
출석    8.9
dtype: object

In [36]:
s[[0,2]]

이름    홍길동
기말     20
dtype: object

In [37]:
s[[True, False, True, False]]

이름    홍길동
기말     20
dtype: object

### DataFrame
2차원 배열:리스트, 사전형

In [44]:
data = {
    '이름' : ['홍길동', '임꺽정', '이순신'],
    '중간' : [40,60,100],
    '기말' : [60,50,95],
    '출석' : [8.5, 7.8,9.9]
}

In [45]:
data

{'이름': ['홍길동', '임꺽정', '이순신'],
 '중간': [40, 60, 100],
 '기말': [60, 50, 95],
 '출석': [8.5, 7.8, 9.9]}

In [46]:
df = pd.DataFrame(data)

In [47]:
df

    이름   중간  기말   출석
0  홍길동   40  60  8.5
1  임꺽정   60  50  7.8
2  이순신  100  95  9.9

In [48]:
df.dtypes

이름     object
중간      int64
기말      int64
출석    float64
dtype: object

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   중간      3 non-null      int64
 2   기말      3 non-null      int64
 3   출석      3 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 224.0+ bytes