In [1]:
import pandas as pd

In [2]:
casts = pd.read_csv('cast.csv')

In [3]:
casts.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
casts.year//10 #소숫점아래 버리는 나누기 계산

0        201
1        198
2        201
3        201
4        201
        ...
74996    201
74997    200
74998    201
74999    201
75000    200
Name: year, Length: 75001, dtype: int64

In [6]:
casts.year //10 *10 #10으로 나누며 소숫점 버리고 10을 곱해 10단위로 구분

0        2010
1        1980
2        2010
3        2010
4        2010
         ...
74996    2010
74997    2000
74998    2010
74999    2010
75000    2000
Name: year, Length: 75001, dtype: int64

In [7]:
decade = casts.year //10*10

In [8]:
decade.shape

(75001,)

In [10]:
casts.groupby( decade ).size() #decade를 이용해 그룹화

year
1910      669
1920     1121
1930     3448
1940     3997
1950     3892
1960     3743
1970     4343
1980     5554
1990     7652
2000    16199
2010    24376
2020        7
dtype: int64

In [11]:
casts.groupby([decade, 'type']).size()

year  type
1910  actor        384
      actress      285
1920  actor        710
      actress      411
1930  actor       2628
      actress      820
1940  actor       3014
      actress      983
1950  actor       2877
      actress     1015
1960  actor       2775
      actress      968
1970  actor       3044
      actress     1299
1980  actor       3565
      actress     1989
1990  actor       5108
      actress     2544
2000  actor      10368
      actress     5831
2010  actor      15523
      actress     8853
2020  actor          4
      actress        3
dtype: int64

In [13]:
casts.groupby(['type', decade]).size() #성별 먼저 그룹, 후에 연도

type     year
actor    1910      384
         1920      710
         1930     2628
         1940     3014
         1950     2877
         1960     2775
         1970     3044
         1980     3565
         1990     5108
         2000    10368
         2010    15523
         2020        4
actress  1910      285
         1920      411
         1930      820
         1940      983
         1950     1015
         1960      968
         1970     1299
         1980     1989
         1990     2544
         2000     5831
         2010     8853
         2020        3
dtype: int64

In [14]:
s = casts.groupby(['type', decade]).size()

In [15]:
s

type     year
actor    1910      384
         1920      710
         1930     2628
         1940     3014
         1950     2877
         1960     2775
         1970     3044
         1980     3565
         1990     5108
         2000    10368
         2010    15523
         2020        4
actress  1910      285
         1920      411
         1930      820
         1940      983
         1950     1015
         1960      968
         1970     1299
         1980     1989
         1990     2544
         2000     5831
         2010     8853
         2020        3
dtype: int64

In [16]:
type(s)

pandas.core.series.Series

### multiple index -> column index로 변경
unstack()

In [17]:
s.unstack()

year,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010,2020
type,,,,,,,,,,,,
actor,384,710,2628,3014,2877,2775,3044,3565,5108,10368,15523,4
actress,285,411,820,983,1015,968,1299,1989,2544,5831,8853,3

In [19]:
s.unstack(level = 0) #행렬 level로 조정

type  actor  actress
year
1910    384      285
1920    710      411
1930   2628      820
1940   3014      983
1950   2877     1015
1960   2775      968
1970   3044     1299
1980   3565     1989
1990   5108     2544
2000  10368     5831
2010  15523     8853
2020      4        3

In [20]:
release = pd.read_csv('release_dates.csv')

In [21]:
release

                        title  year      country        date
0       #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                     #Beings  2015      Romania  2015-01-29
2                   #Declimax  2018  Netherlands  2018-01-21
3      #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                     #Horror  2015          USA  2015-11-20
...                       ...   ...          ...         ...
49995                 Botched  2007           UK  2008-04-18
49996                 Botched  2007         Peru  2010-01-21
49997    Bote, dyaryo, garapa  1989  Philippines  1989-05-26
49998    Both Barrels Blazing  1945          USA  1945-05-17
49999         Botika sa baryo  1960  Philippines  1960-09-23

[50000 rows x 4 columns]

In [22]:
casts[casts.title == 'Amelia']

        title  year            name   type    character     n
5767   Amelia  2009    Aaron Abrams  actor  Slim Gordon   8.0
23319  Amelia  2009  Jeremy Akerman  actor      Sheriff  19.0

In [23]:
amelia = casts[casts.title == 'Amelia']

In [24]:
amelia

        title  year            name   type    character     n
5767   Amelia  2009    Aaron Abrams  actor  Slim Gordon   8.0
23319  Amelia  2009  Jeremy Akerman  actor      Sheriff  19.0

In [25]:
release[release.title == 'Amelia']

        title  year      country        date
20543  Amelia  1966       Mexico  1966-03-10
20544  Amelia  2009       Canada  2009-10-23
20545  Amelia  2009          USA  2009-10-23
20546  Amelia  2009    Australia  2009-11-12
20547  Amelia  2009    Singapore  2009-11-12
20548  Amelia  2009      Ireland  2009-11-13
20549  Amelia  2009       Mexico  2009-11-13
20550  Amelia  2009           UK  2009-11-13
20551  Amelia  2009        Spain  2009-11-20
20552  Amelia  2009  Philippines  2009-12-02
20553  Amelia  2009        Italy  2009-12-23
20554  Amelia  2009       Sweden  2010-01-01
20555  Amelia  2009       Turkey  2010-01-08
20556  Amelia  2009      Belarus  2010-01-14
20557  Amelia  2009   Kazakhstan  2010-01-14
20558  Amelia  2009       Russia  2010-01-14
20559  Amelia  2009       Greece  2010-01-21
20560  Amelia  2009       Poland  2010-02-12
20561  Amelia  2009      Belgium  2010-03-03
20562  Amelia  2009        India  2010-03-12
20563  Amelia  2009  Netherlands  2010-03-25
20564  Amelia  2009       Brazil  2010-03-26
20565  Amelia  2009       France  2010-04-14
20566  Amelia  2009      Germany  2010-06-17
20567  Amelia  2009        Japan  2010-11-27

In [28]:
amelia.merge(release) #amelia와 release의 데이터 합침. amelia를 기준으로 release 병합
#(둘다 title과 year이 있으므로 이를 기준으로 병합한다. 이때 2009년이 아니라 1966꺼는 release에만 있고 amelia에는 없으므로
#이는 제외하고 병합한다.)

,title,year,name,type,character,n,country,date
0,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Canada,2009-10-23
1,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,USA,2009-10-23
2,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Australia,2009-11-12
3,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Singapore,2009-11-12
4,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Ireland,2009-11-13
5,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Mexico,2009-11-13
6,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,UK,2009-11-13
7,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Spain,2009-11-20
8,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Philippines,2009-12-02
9,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Italy,2009-12-23
10,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Sweden,2010-01-01
11,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Turkey,2010-01-08
12,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Belarus,2010-01-14
13,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Kazakhstan,2010-01-14
14,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Russia,2010-01-14
15,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Greece,2010-01-21
16,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Poland,2010-02-12
17,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Belgium,2010-03-03
18,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,India,2010-03-12
19,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Netherlands,2010-03-25
20,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Brazil,2010-03-26
21,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,France,2010-04-14
22,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Germany,2010-06-17
23,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Japan,2010-11-27
24,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Canada,2009-10-23
25,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,USA,2009-10-23
26,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Australia,2009-11-12
27,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Singapore,2009-11-12
28,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Ireland,2009-11-13
29,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Mexico,2009-11-13
30,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,UK,2009-11-13
31,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Spain,2009-11-20
32,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Philippines,2009-12-02
33,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Italy,2009-12-23
34,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Sweden,2010-01-01
35,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Turkey,2010-01-08
36,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Belarus,2010-01-14
37,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Kazakhstan,2010-01-14
38,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Russia,2010-01-14
39,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Greece,2010-01-21
40,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Poland,2010-02-12
41,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Belgium,2010-03-03
42,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,India,2010-03-12
43,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Netherlands,2010-03-25
44,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Brazil,2010-03-26
45,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,France,2010-04-14
46,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Germany,2010-06-17
47,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,Japan,2010-11-27

In [30]:
amelia.merge(release, left_on = 'title', right_on='title')
#title만 기준으로 합침. 그로인해 year이 두개가 생기고 1966년것도 포함됨

,title,year_x,name,type,character,n,year_y,country,date
0,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,1966,Mexico,1966-03-10
1,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Canada,2009-10-23
2,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,USA,2009-10-23
3,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Australia,2009-11-12
4,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Singapore,2009-11-12
5,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Ireland,2009-11-13
6,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Mexico,2009-11-13
7,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,UK,2009-11-13
8,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Spain,2009-11-20
9,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Philippines,2009-12-02
10,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Italy,2009-12-23
11,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Sweden,2010-01-01
12,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Turkey,2010-01-08
13,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Belarus,2010-01-14
14,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Kazakhstan,2010-01-14
15,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Russia,2010-01-14
16,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Greece,2010-01-21
17,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Poland,2010-02-12
18,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Belgium,2010-03-03
19,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,India,2010-03-12
20,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Netherlands,2010-03-25
21,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Brazil,2010-03-26
22,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,France,2010-04-14
23,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Germany,2010-06-17
24,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,2009,Japan,2010-11-27
25,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,1966,Mexico,1966-03-10
26,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Canada,2009-10-23
27,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,USA,2009-10-23
28,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Australia,2009-11-12
29,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Singapore,2009-11-12
30,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Ireland,2009-11-13
31,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Mexico,2009-11-13
32,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,UK,2009-11-13
33,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Spain,2009-11-20
34,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Philippines,2009-12-02
35,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Italy,2009-12-23
36,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Sweden,2010-01-01
37,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Turkey,2010-01-08
38,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Belarus,2010-01-14
39,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Kazakhstan,2010-01-14
40,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Russia,2010-01-14
41,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Greece,2010-01-21
42,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Poland,2010-02-12
43,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Belgium,2010-03-03
44,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,India,2010-03-12
45,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Netherlands,2010-03-25
46,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Brazil,2010-03-26
47,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,France,2010-04-14
48,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Germany,2010-06-17
49,Amelia,2009,Jeremy Akerman,actor,Sheriff,19.0,2009,Japan,2010-11-27

In [31]:
casts

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
74996,Mia fora kai ena... moro,2011,Penelope Anastasopoulou,actress,Popi voulkanizater,11.0
74997,The Magician King,2004,Tiannah Anastassiades,actress,Unicycle Race Attendant,NaN
74998,Festival of Lights,2010,Zoe Anastassiou,actress,Guidance Counselor,20.0
74999,Toxic Tutu,2016,Zoe Anastassiou,actress,Demon of Toxicity,NaN
75000,Fugitive Pieces,2007,Anastassia Anastassopoulou,actress,Laundry Girl,25.0

### Aaron Abrams와 함께 출연한 배우들의 리스트

In [32]:
aaron = casts[casts.name == 'Aaron Abrams']

In [33]:
aaron

,title,year,name,type,character,n
5765,#FromJennifer,2017,Aaron Abrams,actor,Ralph Sinclair,NaN
5766,388 Arletta Avenue,2011,Aaron Abrams,actor,Alex,4.0
5767,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0
5768,At Home by Myself... with You,2009,Aaron Abrams,actor,Guy,2.0
5769,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0
5770,Closet Monster,2015,Aaron Abrams,actor,Peter Madly,1.0
5771,Code 8,2018,Aaron Abrams,actor,Actor,NaN
5772,Firehouse Dog,2007,Aaron Abrams,actor,Policeman at Bridge,32.0
5773,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0
5774,It Was You Charlie,2013,Aaron Abrams,actor,Tom,3.0
5775,Jesus Henry Christ,2011,Aaron Abrams,actor,Malcolm's Dad,23.0
5776,Jesus Henry Christ,2011,Aaron Abrams,actor,Nurse Stewart,23.0
5777,Regression,2015,Aaron Abrams,actor,Farrell,12.0
5778,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0
5779,Sabah,2005,Aaron Abrams,actor,Paramedic,8.0
5780,Siblings,2004,Aaron Abrams,actor,Pastor,9.0
5781,Take This Waltz,2011,Aaron Abrams,actor,Aaron,10.0
5782,The Chicago 8,2011,Aaron Abrams,actor,Lee Weiner,9.0
5783,The Go-Getters,2017,Aaron Abrams,actor,Owen,1.0
5784,The In-Laws,2003,Aaron Abrams,actor,Student,17.0
5785,The Visual Bible: The Gospel of John,2003,Aaron Abrams,actor,Man in Temple Crowd #3,NaN
5786,Young People Fucking,2007,Aaron Abrams,actor,Matt,1.0
5787,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN

In [34]:
aaron.shape

(23, 6)

In [35]:
len(aaron)

23

In [36]:
aaron.merge(casts) #aaron과 casts는 항목들이 같아 aaron과 같은 결과가 나온다

,title,year,name,type,character,n
0,#FromJennifer,2017,Aaron Abrams,actor,Ralph Sinclair,NaN
1,388 Arletta Avenue,2011,Aaron Abrams,actor,Alex,4.0
2,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0
3,At Home by Myself... with You,2009,Aaron Abrams,actor,Guy,2.0
4,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0
5,Closet Monster,2015,Aaron Abrams,actor,Peter Madly,1.0
6,Code 8,2018,Aaron Abrams,actor,Actor,NaN
7,Firehouse Dog,2007,Aaron Abrams,actor,Policeman at Bridge,32.0
8,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0
9,It Was You Charlie,2013,Aaron Abrams,actor,Tom,3.0
10,Jesus Henry Christ,2011,Aaron Abrams,actor,Malcolm's Dad,23.0
11,Jesus Henry Christ,2011,Aaron Abrams,actor,Nurse Stewart,23.0
12,Regression,2015,Aaron Abrams,actor,Farrell,12.0
13,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0
14,Sabah,2005,Aaron Abrams,actor,Paramedic,8.0
15,Siblings,2004,Aaron Abrams,actor,Pastor,9.0
16,Take This Waltz,2011,Aaron Abrams,actor,Aaron,10.0
17,The Chicago 8,2011,Aaron Abrams,actor,Lee Weiner,9.0
18,The Go-Getters,2017,Aaron Abrams,actor,Owen,1.0
19,The In-Laws,2003,Aaron Abrams,actor,Student,17.0
20,The Visual Bible: The Gospel of John,2003,Aaron Abrams,actor,Man in Temple Crowd #3,NaN
21,Young People Fucking,2007,Aaron Abrams,actor,Matt,1.0
22,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN

In [39]:
costar = aaron.merge(casts, on = ['title', 'year']) #aaron과 제목과 연도가 같은 것을 찾음
#aaron이 출연한 영화의 제목과 연도가 같으면 같은 영화에 출연했다는 것

In [40]:
costar #나머지 항목들이 다 두개가 된다. 그리고 aaron까지 같이 나옴

,title,year,name_x,type_x,character_x,n_x,name_y,type_y,character_y,n_y
0,#FromJennifer,2017,Aaron Abrams,actor,Ralph Sinclair,NaN,Aaron Abrams,actor,Ralph Sinclair,NaN
1,#FromJennifer,2017,Aaron Abrams,actor,Ralph Sinclair,NaN,Christian Ackerman,actor,Simon,NaN
2,388 Arletta Avenue,2011,Aaron Abrams,actor,Alex,4.0,Graham Abbey,actor,Officer #2,8.0
3,388 Arletta Avenue,2011,Aaron Abrams,actor,Alex,4.0,Aaron Abrams,actor,Alex,4.0
4,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Aaron Abrams,actor,Slim Gordon,8.0
5,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Jeremy Akerman,actor,Sheriff,19.0
6,At Home by Myself... with You,2009,Aaron Abrams,actor,Guy,2.0,Aaron Abrams,actor,Guy,2.0
7,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0,Aaron Abrams,actor,1928 Fan,67.0
8,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0,Nick Alachiotis,actor,Baer Cornerman,38.0
9,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0,Nick Alachiotis,actor,Undercard Boxer - Feldman,38.0
10,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0,Magdalena Alexander,actress,Angry Woman,78.0
11,Closet Monster,2015,Aaron Abrams,actor,Peter Madly,1.0,Buffy #1,actor,Buffy 4,31.0
12,Closet Monster,2015,Aaron Abrams,actor,Peter Madly,1.0,Aaron Abrams,actor,Peter Madly,1.0
13,Code 8,2018,Aaron Abrams,actor,Actor,NaN,Aaron Abrams,actor,Actor,NaN
14,Code 8,2018,Aaron Abrams,actor,Actor,NaN,Robbie Amell,actor,Actor,NaN
15,Code 8,2018,Aaron Abrams,actor,Actor,NaN,Stephen Amell,actor,Actor,NaN
16,Firehouse Dog,2007,Aaron Abrams,actor,Policeman at Bridge,32.0,Aaron Abrams,actor,Policeman at Bridge,32.0
17,Firehouse Dog,2007,Aaron Abrams,actor,Policeman at Bridge,32.0,Joseph Adam,actor,Ceremony Reporter #1,39.0
18,Firehouse Dog,2007,Aaron Abrams,actor,Policeman at Bridge,32.0,Magdalena Alexander,actress,Mayor's Executive Assistant,38.0
19,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0,Jake Abel,actor,Dennis (21 Years),45.0
20,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0,Aaron Abrams,actor,Ian Meillor,44.0
21,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0,Denis Akiyama,actor,Dr. Ito,39.0
22,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0,Alan Alda,actor,Gregory Lawson,43.0
23,It Was You Charlie,2013,Aaron Abrams,actor,Tom,3.0,Aaron Abrams,actor,Tom,3.0
24,It Was You Charlie,2013,Aaron Abrams,actor,Tom,3.0,Henry Alessandroni,actor,Manager,NaN
25,Jesus Henry Christ,2011,Aaron Abrams,actor,Malcolm's Dad,23.0,Aaron Abrams,actor,Malcolm's Dad,23.0
26,Jesus Henry Christ,2011,Aaron Abrams,actor,Malcolm's Dad,23.0,Aaron Abrams,actor,Nurse Stewart,23.0
27,Jesus Henry Christ,2011,Aaron Abrams,actor,Malcolm's Dad,23.0,Melyssa Ade,actress,Kindergarten Teacher,18.0
28,Jesus Henry Christ,2011,Aaron Abrams,actor,Nurse Stewart,23.0,Aaron Abrams,actor,Malcolm's Dad,23.0
29,Jesus Henry Christ,2011,Aaron Abrams,actor,Nurse Stewart,23.0,Aaron Abrams,actor,Nurse Stewart,23.0
30,Jesus Henry Christ,2011,Aaron Abrams,actor,Nurse Stewart,23.0,Melyssa Ade,actress,Kindergarten Teacher,18.0
31,Regression,2015,Aaron Abrams,actor,Farrell,12.0,Aaron Abrams,actor,Farrell,12.0
32,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0,Derek Aasland,actor,Featured Graveyard Undead #1,40.0
33,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0,Derek Aasland,actor,Featured 'Surplus' Undead #3,40.0
34,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0,Aaron Abrams,actor,Assistant,20.0
35,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0,Razaaq Adoti,actor,Sgt. Peyton Wells,6.0
36,Sabah,2005,Aaron Abrams,actor,Paramedic,8.0,Aaron Abrams,actor,Paramedic,8.0
37,Sabah,2005,Aaron Abrams,actor,Paramedic,8.0,David Alpay,actor,Mustafa,10.0
38,Siblings,2004,Aaron Abrams,actor,Pastor,9.0,Aaron Abrams,actor,Pastor,9.0
39,Take This Waltz,2011,Aaron Abrams,actor,Aaron,10.0,Graham Abbey,actor,James,8.0
40,Take This Waltz,2011,Aaron Abrams,actor,Aaron,10.0,Aaron Abrams,actor,Aaron,10.0
41,The Chicago 8,2011,Aaron Abrams,actor,Lee Weiner,9.0,Aaron Abrams,actor,Lee Weiner,9.0
42,The Go-Getters,2017,Aaron Abrams,actor,Owen,1.0,Aaron Abrams,actor,Owen,1.0
43,The In-Laws,2003,Aaron Abrams,actor,Student,17.0,Aaron Abrams,actor,Student,17.0
44,The In-Laws,2003,Aaron Abrams,actor,Student,17.0,Aaron Alexander,actor,Frat Brother #1,48.0
45,The In-Laws,2003,Aaron Abrams,actor,Student,17.0,Kenner Ames,actor,Janitor,44.0
46,The In-Laws,2003,Aaron Abrams,actor,Student,17.0,Susan Aceron,actress,Nurse,7.0
47,The Visual Bible: The Gospel of John,2003,Aaron Abrams,actor,Man in Temple Crowd #3,NaN,Alexander Abadzis,actor,Man in Crowd #7,NaN
48,The Visual Bible: The Gospel of John,2003,Aaron Abrams,actor,Man in Temple Crowd #3,NaN,Tony Arunah Abbey,actor,Relative of Malchus,NaN
49,The Visual Bible: The Gospel of John,2003,Aaron Abrams,actor,Man in Temple Crowd #3,NaN,Aaron Abrams,actor,Man in Temple Crowd #3,NaN
50,Young People Fucking,2007,Aaron Abrams,actor,Matt,1.0,Aaron Abrams,actor,Matt,1.0
51,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Hunter Aarniokoski,actor,Prince,12.0
52,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Aaron Abrams,actor,Corporal Lipscombe,NaN
53,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,David Acord,actor,Helicopter Pilot,NaN
54,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Tim Allen,actor,Jack Shepard,1.0
55,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Tim Allen,actor,Captain Zoom,1.0
56,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Stacey Alfano,actress,Stefanie,NaN

In [43]:
costar = costar[costar.name_x != costar.name_y] #aaron이 두번나오는거 뺌

In [44]:
costar

,title,year,name_x,type_x,character_x,n_x,name_y,type_y,character_y,n_y
1,#FromJennifer,2017,Aaron Abrams,actor,Ralph Sinclair,NaN,Christian Ackerman,actor,Simon,NaN
2,388 Arletta Avenue,2011,Aaron Abrams,actor,Alex,4.0,Graham Abbey,actor,Officer #2,8.0
5,Amelia,2009,Aaron Abrams,actor,Slim Gordon,8.0,Jeremy Akerman,actor,Sheriff,19.0
8,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0,Nick Alachiotis,actor,Baer Cornerman,38.0
9,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0,Nick Alachiotis,actor,Undercard Boxer - Feldman,38.0
10,Cinderella Man,2005,Aaron Abrams,actor,1928 Fan,67.0,Magdalena Alexander,actress,Angry Woman,78.0
11,Closet Monster,2015,Aaron Abrams,actor,Peter Madly,1.0,Buffy #1,actor,Buffy 4,31.0
14,Code 8,2018,Aaron Abrams,actor,Actor,NaN,Robbie Amell,actor,Actor,NaN
15,Code 8,2018,Aaron Abrams,actor,Actor,NaN,Stephen Amell,actor,Actor,NaN
17,Firehouse Dog,2007,Aaron Abrams,actor,Policeman at Bridge,32.0,Joseph Adam,actor,Ceremony Reporter #1,39.0
18,Firehouse Dog,2007,Aaron Abrams,actor,Policeman at Bridge,32.0,Magdalena Alexander,actress,Mayor's Executive Assistant,38.0
19,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0,Jake Abel,actor,Dennis (21 Years),45.0
21,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0,Denis Akiyama,actor,Dr. Ito,39.0
22,Flash of Genius,2008,Aaron Abrams,actor,Ian Meillor,44.0,Alan Alda,actor,Gregory Lawson,43.0
24,It Was You Charlie,2013,Aaron Abrams,actor,Tom,3.0,Henry Alessandroni,actor,Manager,NaN
27,Jesus Henry Christ,2011,Aaron Abrams,actor,Malcolm's Dad,23.0,Melyssa Ade,actress,Kindergarten Teacher,18.0
30,Jesus Henry Christ,2011,Aaron Abrams,actor,Nurse Stewart,23.0,Melyssa Ade,actress,Kindergarten Teacher,18.0
32,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0,Derek Aasland,actor,Featured Graveyard Undead #1,40.0
33,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0,Derek Aasland,actor,Featured 'Surplus' Undead #3,40.0
35,Resident Evil: Apocalypse,2004,Aaron Abrams,actor,Assistant,20.0,Razaaq Adoti,actor,Sgt. Peyton Wells,6.0
37,Sabah,2005,Aaron Abrams,actor,Paramedic,8.0,David Alpay,actor,Mustafa,10.0
39,Take This Waltz,2011,Aaron Abrams,actor,Aaron,10.0,Graham Abbey,actor,James,8.0
44,The In-Laws,2003,Aaron Abrams,actor,Student,17.0,Aaron Alexander,actor,Frat Brother #1,48.0
45,The In-Laws,2003,Aaron Abrams,actor,Student,17.0,Kenner Ames,actor,Janitor,44.0
46,The In-Laws,2003,Aaron Abrams,actor,Student,17.0,Susan Aceron,actress,Nurse,7.0
47,The Visual Bible: The Gospel of John,2003,Aaron Abrams,actor,Man in Temple Crowd #3,NaN,Alexander Abadzis,actor,Man in Crowd #7,NaN
48,The Visual Bible: The Gospel of John,2003,Aaron Abrams,actor,Man in Temple Crowd #3,NaN,Tony Arunah Abbey,actor,Relative of Malchus,NaN
51,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Hunter Aarniokoski,actor,Prince,12.0
53,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,David Acord,actor,Helicopter Pilot,NaN
54,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Tim Allen,actor,Jack Shepard,1.0
55,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Tim Allen,actor,Captain Zoom,1.0
56,Zoom,2006,Aaron Abrams,actor,Corporal Lipscombe,NaN,Stacey Alfano,actress,Stefanie,NaN

In [45]:
costar[['title', 'year', 'name_y']] #같이 출연한 배우들과 영화 정보(한 영화에 배역을 여러개 맡아 두번 나오는 사람존재)

                                   title  year               name_y
1                          #FromJennifer  2017   Christian Ackerman
2                     388 Arletta Avenue  2011         Graham Abbey
5                                 Amelia  2009       Jeremy Akerman
8                         Cinderella Man  2005      Nick Alachiotis
9                         Cinderella Man  2005      Nick Alachiotis
10                        Cinderella Man  2005  Magdalena Alexander
11                        Closet Monster  2015             Buffy #1
14                                Code 8  2018         Robbie Amell
15                                Code 8  2018        Stephen Amell
17                         Firehouse Dog  2007          Joseph Adam
18                         Firehouse Dog  2007  Magdalena Alexander
19                       Flash of Genius  2008            Jake Abel
21                       Flash of Genius  2008        Denis Akiyama
22                       Flash of Genius  2008            Alan Alda
24                    It Was You Charlie  2013   Henry Alessandroni
27                    Jesus Henry Christ  2011          Melyssa Ade
30                    Jesus Henry Christ  2011          Melyssa Ade
32             Resident Evil: Apocalypse  2004        Derek Aasland
33             Resident Evil: Apocalypse  2004        Derek Aasland
35             Resident Evil: Apocalypse  2004         Razaaq Adoti
37                                 Sabah  2005          David Alpay
39                       Take This Waltz  2011         Graham Abbey
44                           The In-Laws  2003      Aaron Alexander
45                           The In-Laws  2003          Kenner Ames
46                           The In-Laws  2003         Susan Aceron
47  The Visual Bible: The Gospel of John  2003    Alexander Abadzis
48  The Visual Bible: The Gospel of John  2003    Tony Arunah Abbey
51                                  Zoom  2006   Hunter Aarniokoski
53                                  Zoom  2006          David Acord
54                                  Zoom  2006            Tim Allen
55                                  Zoom  2006            Tim Allen
56                                  Zoom  2006        Stacey Alfano

In [46]:
costar = costar[['title', 'year', 'name_y']]

In [47]:
costar

                                   title  year               name_y
1                          #FromJennifer  2017   Christian Ackerman
2                     388 Arletta Avenue  2011         Graham Abbey
5                                 Amelia  2009       Jeremy Akerman
8                         Cinderella Man  2005      Nick Alachiotis
9                         Cinderella Man  2005      Nick Alachiotis
10                        Cinderella Man  2005  Magdalena Alexander
11                        Closet Monster  2015             Buffy #1
14                                Code 8  2018         Robbie Amell
15                                Code 8  2018        Stephen Amell
17                         Firehouse Dog  2007          Joseph Adam
18                         Firehouse Dog  2007  Magdalena Alexander
19                       Flash of Genius  2008            Jake Abel
21                       Flash of Genius  2008        Denis Akiyama
22                       Flash of Genius  2008            Alan Alda
24                    It Was You Charlie  2013   Henry Alessandroni
27                    Jesus Henry Christ  2011          Melyssa Ade
30                    Jesus Henry Christ  2011          Melyssa Ade
32             Resident Evil: Apocalypse  2004        Derek Aasland
33             Resident Evil: Apocalypse  2004        Derek Aasland
35             Resident Evil: Apocalypse  2004         Razaaq Adoti
37                                 Sabah  2005          David Alpay
39                       Take This Waltz  2011         Graham Abbey
44                           The In-Laws  2003      Aaron Alexander
45                           The In-Laws  2003          Kenner Ames
46                           The In-Laws  2003         Susan Aceron
47  The Visual Bible: The Gospel of John  2003    Alexander Abadzis
48  The Visual Bible: The Gospel of John  2003    Tony Arunah Abbey
51                                  Zoom  2006   Hunter Aarniokoski
53                                  Zoom  2006          David Acord
54                                  Zoom  2006            Tim Allen
55                                  Zoom  2006            Tim Allen
56                                  Zoom  2006        Stacey Alfano

In [48]:
costar.duplicated() #중복확인

1     False
2     False
5     False
8     False
9      True
10    False
11    False
14    False
15    False
17    False
18    False
19    False
21    False
22    False
24    False
27    False
30     True
32    False
33     True
35    False
37    False
39    False
44    False
45    False
46    False
47    False
48    False
51    False
53    False
54    False
55     True
56    False
dtype: bool

In [49]:
costar.drop_duplicates() #중복 제거

                                   title  year               name_y
1                          #FromJennifer  2017   Christian Ackerman
2                     388 Arletta Avenue  2011         Graham Abbey
5                                 Amelia  2009       Jeremy Akerman
8                         Cinderella Man  2005      Nick Alachiotis
10                        Cinderella Man  2005  Magdalena Alexander
11                        Closet Monster  2015             Buffy #1
14                                Code 8  2018         Robbie Amell
15                                Code 8  2018        Stephen Amell
17                         Firehouse Dog  2007          Joseph Adam
18                         Firehouse Dog  2007  Magdalena Alexander
19                       Flash of Genius  2008            Jake Abel
21                       Flash of Genius  2008        Denis Akiyama
22                       Flash of Genius  2008            Alan Alda
24                    It Was You Charlie  2013   Henry Alessandroni
27                    Jesus Henry Christ  2011          Melyssa Ade
32             Resident Evil: Apocalypse  2004        Derek Aasland
35             Resident Evil: Apocalypse  2004         Razaaq Adoti
37                                 Sabah  2005          David Alpay
39                       Take This Waltz  2011         Graham Abbey
44                           The In-Laws  2003      Aaron Alexander
45                           The In-Laws  2003          Kenner Ames
46                           The In-Laws  2003         Susan Aceron
47  The Visual Bible: The Gospel of John  2003    Alexander Abadzis
48  The Visual Bible: The Gospel of John  2003    Tony Arunah Abbey
51                                  Zoom  2006   Hunter Aarniokoski
53                                  Zoom  2006          David Acord
54                                  Zoom  2006            Tim Allen
56                                  Zoom  2006        Stacey Alfano